<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script> -->

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



<link rel="stylesheet" href="stylesheets/style.css">
<script src="javascripts/script.js" ></script>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
$(document).ready(function(){
  $('.autoplay').slick({
    slidesToShow: 3,
    slidesToScroll: 3,
    autoplay: false,
    autoplaySpeed: 500,
    arrows: true
  });
$( ".slick-arrow:first-of-type").addClass( "left" );

$(".left").val(function(i, v) { //index, current value
  return v.replace("P","Custom Text");
});

$( ".slick-arrow:nth-of-type(2)").addClass("right");

});

</script>
  </head>
  <body>
    <nav class="navbar transparent navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="#">
        <img src="images/logoandname.png" class="icon">
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="kanye" style="color: black;">        </div>
        <a type="submit" class="btn">Search</a>
      </form>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="body">
  <h1 style="
      font-size: 6em;
      text-align: center;
      padding-top: 1em;
  ">Music lives forever.</h1></div>

  <div class="container" style="padding-top: 2em;">
    <div class="row autoplay">
        <div class="">
          <div class="thumb">
              <a href="#">
                <span class="play">GO</span>
                <div class="overlay"></div>
              </a>
              <img src="images/tupac.png">
              <h2>Tupac Shakur</h2>
              <p>revive the legend that still lives till this day.</p>
          </div>
        </div>
        <div class="">
          <div class="thumb">
              <a href="#">
                <span class="play">GO</span>
                <div class="overlay"></div>
              </a>
              <img src="images/beatles.png">
              <h2>The Beatles</h2>
              <p>the beatles never left, see where they've been.</p>
          </div>
        </div>
        <div class="">
          <div class="thumb">
              <a href="#">
                <span class="play">GO</span>
                <div class="overlay"></div>
              </a>
              <img src="images/backstreet.png">
              <h2>Backstreet Boys</h2>
              <p>the boys are back, better and badder than ever.</p>
          </div>
        </div>
                <div class="">
          <div class="thumb">
              <a href="#">
                <span class="play">GO</span>
                <div class="overlay"></div>
              </a>
              <img src="images/backstreet.png">
              <h2>Backstreet Boys</h2>
              <p>the boys are back, better and badder than ever.</p>
          </div>
        </div>
                <div class="">
          <div class="thumb">
              <a href="#">
                <span class="play">GO</span>
                <div class="overlay"></div>
              </a>
              <img src="images/backstreet.png">
              <h2>Backstreet Boys</h2>
              <p>the boys are back, better and badder than ever.</p>
          </div>
        </div>
                <div class="">
          <div class="thumb">
              <a href="#">
                <span class="play">GO</span>
                <div class="overlay"></div>
              </a>
              <img src="images/backstreet.png">
              <h2>Backstreet Boys</h2>
              <p>the boys are back, better and badder than ever.</p>
          </div>
        </div>
       </div>
    </div>
    <div class="row"></div>
</div>

  </body>
</html>
