.col-sm-2{
	background-color: black;
	padding-bottom: 8em;
	padding-right: 0 !important;
	padding-left: 0 !important;
	width: 17.1% !important;
}

h2, p{
	color: white;
	padding-left: 3px;
}

h2{
	font-size: 21px;
}







.thumb {position: relative;width: 186px;height: 208px;}
.thumb a {position: absolute; top: 0; display: block; width: 107%; height: 100%; text-align: center; text-decoration: none;}
.thumb a .play, .thumb a .overlay {opacity: 0;}
.thumb a:hover .play, .thumb a:hover .overlay {display: block; transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.thumb a:hover .play {position: relative; font-size: 64px; color: #ffffff; margin-top: 60px; z-index: 1000; opacity: 1;}
.thumb a:hover .overlay {position: absolute; top: 0; width: 100%; height: 100%; background-color: #000000; opacity: .7;}